.login{
    display:grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.info-input{
    border: 1px solid rgb(199, 199, 199);
    height:7vh;
    width: 40vw;
    border-radius: 1rem;
    padding-left: 5px;
}

.submit-button{
    height: 7vh;
    width: 40vw;
    background-color: #FCBB15;
    border-radius: 1rem;
}

.form{
    padding-top: 18vh;
    opacity: 1;
    transition: all 0.7s ease-in-out;
}
.form.disapper{
    opacity: 0;
}

.welcome{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.login-text{
    font-size: 1.1rem;
}

.dokoto{
    margin:3rem 0 0 3rem;
    height:80vh;
    width: 40vw;
    background-color: #FCBB15;
    border-radius: 2rem;
    text-align: center;
    position:absolute;
    transition: all 0.7s ease-in-out;
    left: 0;
    z-index:2;
}   
.dokoto.move-right {
    left: 50vw; 
}

.dokoto.center{
    left: 26vw;
}

.register-successful{
    font-size: 2rem;
    color: white;
}


.login-button{
    background-color: white;
    padding:0.5rem 2rem;
    border-radius: 1rem;
}

.form-signup{
    padding-left: 3rem;
    height: 100vh;
    overflow-y: auto;
    opacity: 1;
    transition: all 0.7s ease-in-out;

}
.form-signup.disapper{
    opacity: 0;
}

.error-message{
    color: red;
    font-size: 1rem;
}