@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  /* border: 1px dotted red; */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nav-bar{
  display:flex;
  gap:7rem;
  align-items:center;
  padding-left:1rem;
  justify-content:center;
  position:relative;
  height: 90px;
}

.logo{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  
}

.search-bar{
  border: 1px black solid;
  height: 30px;
  display: flex;
  gap: 0.7rem;
  align-items: center;
  padding:0.2rem 1.5rem;
  border-radius: 1rem;
}

.circle{
  height:50px;
  width: 50px;
  border-radius: 50%;
  background-color: grey;
  overflow: hidden;
}


.circle2{
  height:40px;
  width:40px;
  border-radius: 50%;
  background-color: grey;
  overflow: hidden;
}

.side-bar{
  display: grid;
  gap:9.8rem;
  height: 100vh;
  width: 5rem;
  justify-content: center;
  background-color: rgb(249, 249, 249);
  position: sticky;
  top: 0;   
  border-right: 1px solid rgb(221, 221, 221);
}

.icon {
  color:#FCBB15;
  font-size:2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease;
}

.icon.active {
  background-color: #FCBB15;
  color: white;
}

.scroll{
  overflow-y: hidden; 
}

.scroll:hover{
  overflow-y: auto;
}

.search-user{
  border: 1px black solid;
  padding:0.5rem 1rem;
  margin :0 15px;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

input{
   outline: none;
}
.user-display{
  /* padding-left: 20px; */
  margin-left: 20px;
  display:flex;
  flex-direction: column;
  gap:20px;
  height: 100vh;
  padding-top: 2rem;
  border-right: 1px solid rgb(221, 221, 221);

}

.users{
  display:flex;
  gap:10px;
  align-items:center;
  /* justify-content:space-between; */
  width:100%;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.user-block{
  display:grid;
  gap:20px;
  padding-right: 15px;
  border-top: 1px solid rgb(221, 221, 221);
  padding-top: 20px;
}

.user-scroll{
  height: 100%;
  overflow-y: auto;
}

/* .user-scroll:hover{
  overflow-y: scroll;
} */

::-webkit-scrollbar{
  width: 5px;
  background-color: rgb(176, 176, 176);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb{
  background-color: #FCBB15;
  border-radius: 1rem;
}

.users:hover{
  background-color: rgb(234, 234, 234);
}

.chat-box{
  height: 100vh;
  display: grid;
  grid-template-rows: 15% 76% 9%;
  margin: 0 1rem;

}

.chat-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px rgb(221, 221, 221) solid;
  /* background-color: rgb(241, 241, 241); */
}

.person{
  display: flex;
  gap: 10px;
  align-items: center;
}

.info{
  font-size: 2rem;
  color: #FCBB15;
}

.message{
  display: flex;
  align-items: center;
  gap:15px;
  border: 1px solid black;
  padding:0.5rem 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.msg-text{
  width:57vw
}

.msg-display{
  overflow-y: auto;
  padding-top: 10px;
}

.text{
  max-width:450px;
  /* border: 1px solid grey; */
  padding:10px;  
  border-radius: 1rem;
  background-color: rgb(231, 231, 231);
  display: grid;
  justify-content: right;
}

.msg-bar{
  display: flex;
  padding-bottom:20px;
  width:100%;
  gap:10px;
  align-items: center;
}

.default-chat{
  display: flex;
  align-items: center;
  justify-content: center;
}
